
<?php
	Form::open([
		'method' => 'post',
		'action' => '/FormController/store'
	]);
?>
<div class="form-group">
	<?php
		Form::label('Name');
		Form::text('name' , '' , [
			'class' => 'form-control',
			'id'    => 'name'
		]);
	?>
</div>

<div class="form-group">
	<?php
		Form::label('Select Post');
		Form::select('post' , $keyPairedSampleDatas , '5' , [
			'class' => 'form-control',
			'id'    => 'post'
		]);
	?>
</div>

<div class="form-group">
	<?php
		Form::submit('send' , 'Save' , [
			'class' => 'btn btn-primary form-verify',
			'id'    => 'Save Button'
		])
	?>
</div>

<?php Form::close();?>